/* 
Fonts 
- 'IBM Plex Sans', sans-serif;
- 'Poppins', sans-serif
*/
/*  
Colors
#ffa41c -- Amazon button color
#ffc107 -- Brew Lab Color

*/

/* General */
body {
  font-family: 'IBM Plex Sans', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container-fluid,
.container {
  padding-left: 24px;
  padding-right: 24px;
}

.container-none {
  width: 1371px;
  height: 561px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1080px;
  }
}

.container-fluid-bundle {
  padding-left: 0px;
  padding-right: 0px;
}

@media (max-width: 570px) {
  .container-fluid-bundle {
    width: 570px;
  }
}

p {
  -webkit-font-smoothing: antialiased;
}

.nav {
  font-size: 1.5rem;
  background-color: black;
  height: 5.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.nav--company-name {
  color: #fff !important;
  font-size: 2rem;
  font-weight: bolder;
}

.nav--company-name:hover {
  color: #ffc107 !important;
}

.nav__link:link,
.nav__link:visited {
  color: #808080;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  transition: border-bottom 0.2s, border-top 0.2s;
}

.nav__link:hover,
.nav__link:active {
  color: #ffc107;
  padding-bottom: 3px;
  padding-top: 3px;
  border-bottom: 2px solid #ffc107;
  border-top: 2px solid #ffc107;
}

.nav__bar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 45rem;
}

.hamburger {
  display: none;
  position: absolute;
  top: 1.3rem;
  right: 3rem;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media only screen and (max-width: 75em) {
  .nav__bar {
    position: absolute;
    top: 5.4rem;
    left: -115%;
    background-color: #000;
    z-index: 100;
    padding-left: 1.7rem;
    width: 100%;
    height: 30vh;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  .nav__bar.active {
    left: 0;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__nav--button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.4rem;
}

.dropdown__content {
  display: none;
  position: absolute;
  top: 2.8rem;
  background-color: #f9f9f9;
  min-width: 16rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown__content a {
  color: black;
  padding: 1.2rem 2rem;
  text-decoration: none;
  display: block;
}

.dropdown__content a:hover {
  background-color: #ffc107;
}

.dropdown:hover .dropdown__content {
  display: block;
}

/* -------- Landing Page -------- */
/* Hero Section */
#hero {
  background-image: url(./images/hero-brewlab.jpg);
  background-size: cover;
  background-position: center bottom;
  text-align: center;
}

#hero h1 {
  padding-top: 150px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  #hero {
    height: 90vh;
    min-height: 650px;
  }
}

@media (max-width: 575px) {
  #hero h2 {
    font-size: x-large;
  }
}

#bundle {
  background-image: url(./images/BUNDLES-BANNER-RESIZE.jpg);
  background-size: cover;
  background-position: center bottom;
  text-align: center;
}

#bundle h1 {
  padding-top: 150px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  #bundle {
    height: 90vh;
    min-height: 650px;
  }
}

@media (max-width: 575px) {
  #bundle h2 {
    font-size: x-large;
  }
}

#bundles-banner {
  max-width: 100%;
  height: auto;
}

/* Content */
.scrollableRow {
  overflow-x: auto;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 18px;
  padding-right: 18px;
}

.scrollableRow > [class*='col-'] {
  padding-left: 6px;
  padding-right: 6px;
}

.scrollableRow .filler {
  min-width: 18px;
}

.aspectRatioBox {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;
}

/* @media (max-width: 767px) {
  .headings h3 {
    font-size: 18px;
  }
} */

/* Content Cards */

#content-cards .cards {
  height: 20%;
}

/* @media (max-width: 575px) {
  #content-cards .card {
    height: 30vh;
  }
} */

/* Footer */

.footerNav h5,
.footerNav a {
  font-size: 14px;
}
.footerNav h5 {
  line-height: 18px;
}
.footerNav .social {
  font-size: 18px;
  height: 18px;
}
.footerBar small {
  font-size: 14px;
}

/* -------- The Lab -------- */
/* Hero Section */
#herolab {
  background-image: url(./images/hero-lab.jpg);
  background-size: cover;
  background-position: center bottom;
  text-align: center;
}

#herolab h1 {
  padding-top: 150px;
  font-weight: 600;
}

.card-body p {
  font-size: small;
}

.card {
  height: 95%;
}

@media (min-width: 1200px) {
  #herolab {
    height: 90vh;
    min-height: 650px;
  }
}

@media (max-width: 575px) {
  #herolab h2 {
    font-size: x-large;
  }
}

@media (max-width: 575px) {
  .flex-small-screen {
    flex-direction: column;
  }
}

/* Content */

/* -------- About Us -------- */
/* Hero Section */
#heroabout {
  background-image: url(./images/hero-about.jpg);
  background-size: cover;
  background-position: center bottom;
  text-align: center;
}

#heroabout h1 {
  padding-top: 150px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  #heroabout {
    height: 90vh;
    min-height: 650px;
  }
}

@media (max-width: 575px) {
  #heroabout h2 {
    font-size: x-large;
  }
}

/* Founders section */
#founders img {
  width: 140px;
  height: 140px;
}

@media (max-width: 400px) {
  #founders img {
    width: 70px;
    height: 70px;
  }
}

/* -------- FAQS -------- */
/* Hero Section */
#herofaq {
  background-image: url(./images/hero-faq.jpg);
  background-size: cover;
  background-position: center bottom;
  text-align: center;
}

#herofaq h1 {
  padding-top: 150px;
  font-weight: 600;
}

@media (min-width: 1200px) {
  #herofaq {
    height: 90vh;
    min-height: 650px;
  }
}

@media (max-width: 575px) {
  #herofaq h2 {
    font-size: x-large;
  }
}

/* ---------------------------------------------- */
/* SHOP */
/* ---------------------------------------------- */
/* Hero Section */
#heroshop {
  background-image: url(./images/hero-shop.jpg);
  background-size: cover;
  background-position: center bottom;
  text-align: center;
}

#heroshop h1 {
  padding-top: 150px;
  font-weight: 600;
}

.card-body p {
  font-size: small;
}

@media (min-width: 1200px) {
  #heroshop {
    height: 90vh;
    min-height: 650px;
  }
}

@media (max-width: 575px) {
  #heroshop h2 {
    font-size: x-large;
  }
}

.shop {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shop-heading {
  font-size: 30px;
  margin-bottom: 15px;
  /* border-bottom: 4px solid #f0ad4e;
  width: max-content; */
}

.shop-section {
  margin-top: 70px;
}

.buttonshop {
  background-color: #ff9500;
  border: none;
  font-family: Arial;
  color: black;
  width: 9.5rem;
  /* width: 152px; */
  padding: 10px 24px;
  text-align: center;
  font-size: 15px;
  opacity: 0.7;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.buttonshop:hover {
  opacity: 1;
  text-decoration: none;
  color: black;
  /* background-color: #ffaf4d; */
}

/* Shop Items */

.shop-flex-container {
  display: flex;
}

/* Side Menu on Shop */
.side-menu {
  width: 15rem;
  padding-left: 4rem;
  margin-top: 4.7rem;

  /* border: 2px solid red; */
}

.side-menu-container {
  position: sticky;
  position: -webkit-sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  /* border: 2px solid black; */
}

.side-menu a:link,
.side-menu a:visited {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
  /* border-bottom: 2px solid transparent;
  transition:border-bottom 0.2s;
  -webkit-transition:border-bottom 0.2s;
  -moz-transition:border-bottom 0.2s;
  -ms-transition:border-bottom 0.2s;
  -o-transition:border-bottom 0.2s; */

  /* border: 2px solid yellow; */
}

.side-menu a:hover,
.side-menu a:active {
  display: block;
  text-decoration: none;
  color: black;
  /* border-bottom: 1px solid black; */
  width: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
}

@media (max-width: 1385px) {
  .side-menu {
    display: none;
  }
}

/* Bundles */

#bundles::before {
  content: '';
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}

.bundles {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.bundles__img {
  /* height: 18rem; */
  height: auto;
  /* max-width: 100%; */
  width: 100%;
  max-width: 1460px;
  margin: 0px auto 20px auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.bundles__main {
  text-align: center;
}

.bundles__main h3 {
  margin-top: 5px;
  font-size: 20px;
}

.bundles__main p {
  margin-top: 10px;
}

/* Kits */

#main-kits::before {
  content: '';
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}

.kits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 687px) {
  .kits {
    justify-content: center;
  }
}

.kits__img {
  /* height: 18rem; */
  height: 280px;
  /* max-width: 100%; */
  width: 320px;
  margin: 0px auto 20px auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.kits__main {
  text-align: center;
}

.kits__main h3 {
  margin-top: 5px;
  font-size: 20px;
}

.kits__main p {
  margin-top: 10px;
}

hr {
  max-width: 73.5vw;
}

.labkits-shopify-button {
  margin: -30px auto -3px auto;
  opacity: 0.7;
  width: fit-content;
  /* height: fit-content; */
}

.labkits-shopify-button:hover {
  opacity: 1;
  text-decoration: none;
  color: black;
}

/* Loose Equipment */

#loose-equipment::before {
  content: '';
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}

.loose-equip {
  display: flex;
  justify-content: space-between;
  /* gap: 1%; */
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 687px) {
  .loose-equip {
    justify-content: center;
  }
}

.loose-equip__img {
  height: 250px;
  width: 320px;
  max-width: 15rem;
  margin: 0px auto 20px auto;
  object-fit: fill;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.loose-equip__main {
  width: 15rem;
  text-align: center;
}

.loose-equip__main h3 {
  margin-top: 5px;
  font-size: 20px;
}

.loose-equip__main p {
  margin-top: 10px;
}

.loose-equip-shopify-button {
  margin: -20px auto -3px auto;
  opacity: 0.7;
  width: inherit;
}

.loose-equip-shopify-button:hover {
  opacity: 1;
  text-decoration: none;
  color: black;
}

/* ---------------------------------------------- */
/* Individual Page Products in SHOP */
/* ---------------------------------------------- */

/* Bundles Product */
.back-button {
  margin: 3.75rem 0px 0px 1rem;
  position: fixed;
  top: 0;
}

@media (max-width: 1352px) {
  .back-button {
    position: absolute;
  }
}

.bundle-product {
  margin-top: 8rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.bundle-product h4 {
  margin: 1rem auto 1rem auto;
}

.bundle-product-shopify-button {
  margin: 0 auto -8px auto;
  width: fit-content;
  cursor: pointer;
}

.bundle-product img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 1460px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.bundle-product h3 {
  align-self: flex-start;
  margin-bottom: 1.2rem;
  font-size: 2.5rem;
}

.bundle-product h2 {
  align-self: flex-start;
  margin-top: 2rem;
}

.bundle-product hr {
  width: 100%;
}

.bundles-flavor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 798px) {
  .bundles-flavor {
    justify-content: center;
  }
}

.bundles-flavor__img {
  /* width: 100%; */
  /* height: auto; */
  height: auto;
  max-width: 15rem;
  margin: 0px auto 20px auto;
  /* -o-object-fit: cover; */
  /* object-fit: cover; */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.bundles-flavor__main h3 {
  margin-top: 5px;
  font-size: 20px;
}

.bundles-flavor__main p {
  margin-top: 10px;
}

.bundles-description h5 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 0.2rem;
  width: inherit;
}

.bundles-description p {
  line-height: 1.6rem;
}

/* Equipments Kits */
.beginners-product {
  margin-top: 8rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.beginners-product-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 18rem;
  min-width: 20rem;
  margin-left: 2rem;
}

.beginners-btn {
  margin-top: -25px;
}

.beginners-product img {
  width: 25rem;
  min-width: 10%;
  height: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.beginners-product h3 {
  margin-top: 1rem;
}

.beginners-product h2 {
  margin-top: 2rem;
}

.beginners-product hr {
  width: 73.5vw;
}

@media (max-width: 866px) {
  .beginners-product {
    justify-content: center;
  }

  .beginners-product-container {
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }

  .beginners-btn {
    padding-left: 3.7rem;
  }
}

/* Bottles Kits */

.bottles-product {
  margin-top: 8rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bottles-product-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 18rem;
  min-width: 20rem;
  margin-left: 2rem;
}

.bottles-btn {
  margin-top: -25px;
}

.bottles-product img {
  width: 25rem;
  min-width: 200px;
  height: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.bottles-product h3 {
  margin-top: 0.5rem;
}

.bottles-product h2 {
  margin-top: 2rem;
}

.bottles-product hr {
  width: 73.5vw;
}

@media (max-width: 826px) {
  .bottles-product {
    align-items: center;
    justify-content: center;
  }

  .bottles-product-container {
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }

  .bottles-btn {
    padding-left: 4rem;
  }
}

@media (max-width: 375px) {
  .bottles-product-container {
    padding-left: 0;
  }

  .bottles-btn {
    padding-left: 4rem;
  }
}

/* Ingredients Kits */

.ingredients-product {
  margin-top: 8rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.ingredients-product-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 18rem;
  min-width: 20rem;
  margin-left: 2rem;
}

.ingredients-btn {
}

.ingredients-product img {
  width: 25rem;
  min-width: 10%;
  height: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.ingredients-product h3 {
  margin-top: 1rem;
}

.ingredients-description h5 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 0.2rem;
  width: inherit;
  /* border-bottom: 2px solid black; */
}

.ingredients-description p {
  line-height: 1.6rem;
}

.ingredients-description strong {
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 866px) {
  .ingredients-product {
    justify-content: center;
  }

  .ingredients-product-container {
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }

  .ingredients-btn {
    padding-left: 3rem;
  }
}

/* Carboy Product */

.carboy-product {
  margin-top: 8rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  /* border: 2px solid blue; */
}

@media (max-width: 798px) {
  .carboy-product {
    justify-content: center;
  }
}

.carboy-product-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: flex-start;
  /* justify-content: center; */
  justify-content: flex-start;

  max-height: 18rem;
  /* width: 37.7rem; */
  /* width: 40vw; */
  min-width: 20rem;
  margin-left: 2rem;

  /* border: 2px solid purple; */
}

.carboy-btn {
  margin-top: -25px;
}

@media (max-width: 768px) {
  .carboy-product-container {
    align-items: center;
  }

  .carboy-btn {
    padding-left: 3rem;
  }
}

.carboy-product img {
  /* width: 30vw; */
  width: 25rem;
  min-width: 10%;
  height: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.carboy-product h3 {
  margin-top: 1rem;
}

.carboy-product h2 {
  margin-top: 2rem;
}

.carboy-product hr {
  width: 73.5vw;
}

/* Auto-Siphon and Bottle Filler Product */

.siphon-product {
  margin-top: 8rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  /* border: 2px solid blue; */
}

@media (max-width: 798px) {
  .siphon-product {
    justify-content: center;
  }
}

.siphon-product-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: flex-start;
  /* justify-content: center; */
  justify-content: flex-start;

  max-height: 18rem;
  /* width: 37.7rem; */
  /* width: 40vw; */
  min-width: 20rem;
  margin-left: 2rem;

  /* border: 2px solid purple; */
}

.siphon-btn {
  margin-top: -25px;
}

@media (max-width: 768px) {
  .siphon-product-container {
    align-items: center;
  }

  .siphon-btn {
    padding-left: 3rem;
  }
}

.siphon-product img {
  /* width: 30vw; */
  width: 25rem;
  min-width: 10%;
  height: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.siphon-product h3 {
  margin-top: 1rem;
}

.siphon-product h2 {
  margin-top: 2rem;
}

.siphon-product hr {
  width: 73.5vw;
}

/* BIAB Product */

.biab-product {
  margin-top: 8rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  /* border: 2px solid blue; */
}

@media (max-width: 798px) {
  .biab-product {
    justify-content: center;
  }
}

.biab-product-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: flex-start;
  /* justify-content: center; */
  justify-content: flex-start;

  max-height: 18rem;
  /* width: 37.7rem; */
  /* width: 40vw; */
  min-width: 20rem;
  margin-left: 2rem;

  /* border: 2px solid purple; */
}

.biab-btn {
  margin-top: -25px;
}

@media (max-width: 768px) {
  .biab-product-container {
    align-items: center;
  }

  .biab-btn {
    padding-left: 3rem;
  }
}

.biab-product img {
  /* width: 30vw; */
  width: 25rem;
  min-width: 10%;
  height: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.biab-product h3 {
  margin-top: 1rem;
}

.biab-product h2 {
  margin-top: 2rem;
}

.biab-product hr {
  width: 73.5vw;
}

/* Stellar San Product */

.stellar-product {
  margin-top: 8rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  /* border: 2px solid blue; */
}

@media (max-width: 798px) {
  .stellar-product {
    justify-content: center;
  }
}

.stellar-product-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  align-items: flex-start;
  /* justify-content: center; */
  justify-content: flex-start;

  max-height: 18rem;
  /* width: 37.7rem; */
  /* width: 40vw; */
  min-width: 20rem;
  margin-left: 2rem;

  /* border: 2px solid purple; */
}

.stellar-btn {
  margin-top: -25px;
}

@media (max-width: 768px) {
  .stellar-product-container {
    align-items: center;
  }

  .stellar-btn {
    padding-left: 3rem;
  }
}

.stellar-product img {
  /* width: 30vw; */
  width: 25rem;
  min-width: 10%;
  height: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.stellar-product h3 {
  margin-top: 1rem;
}

.stellar-product h2 {
  margin-top: 2rem;
}

.stellar-product hr {
  width: 73.5vw;
}
